


* {
        box-sizing: border-box;
  }

      /* ===== Base ===== */
      :root {
        --accent: green;
        --muted: #6b7280;
        --bg: #f6f8fb;
        --card: #ffffff;
        --radius: 14px;
        font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
          "Helvetica Neue", Arial;
      }
      /*==================*/


/* main Home section */
/* Make main element take up any surplus space  to push footer down */

main {
  flex: 1 0 auto;
  margin-top: 50px;
  width:100%;
  height:600px;
  background-color:lightblue;
}


/*
 .standbackcol {
    background-color: #a4c2d1; 
 }
*/

/*
.image-container img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-color: white;
  padding: 10px;
}
*/


 /*navbar log section */

.logocontainer {
    height: 50px;
    width: 50px;
    left: 0;
    
    position: fixed;
    top: 0;
   
    background-image:url("./assets/images/getawaylogo.png") ; 
}

/*
#logo {
    background-image: url("./assets/images/getawaylogo.png") ;
}
*/

 /*Navbar section */
.navbar {
  background-color: #1F89EF; 
  margin-top: 0;
  padding: 1rem 0;
  font-weight: bold;
  position: fixed;
  height:50px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 3;
}

.navbar a {
 color: white; 
  margin-left: 55px;
}

.navbar a:hover {
  color: white;
  background-color: green;
}


/*
 h1 {
  font-size: 50px;
  word-break: break-all;
}
*/

/*
.hotelrow {
  position: absolute;
  top: 200px;
  border: 2px solid blue;
  border-radius: 25px;

}
*/
/*===========background image=======================*/

/*
.hotel-img  {
  border-radius: 25px;
  width: 100%;
  height:100%; 
  object-fit: cover;
}
*/

.background-contain {
  max-height: 100%;
  height: 100%;
  background-image: url("./assets/images/getawaybackground.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.hero-image {
  /*
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/images/getawaylogo.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  */
  border-radius: 25px;
  width: 100%;
  height:100%; 
  background-size: cover;
  /*object-fit: cover;*/
  background-image: ("./assets/images/getawaybackground.webp");
}

/*
h1, h2
    {
      text-align: center;
      color: #2c3e50;
      padding: 5px;
    }
*/

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 900;
 
}

/*
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
*/

/*
.hero-text button:hover {
  background-color: #555;
  color: white;
}
 */ 

/*==================================================*/


/*=========================================*/
      .setback {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 
          rgba(0, 0, 0, 0.19);
          
      }

      .hotel-img {
        border-radius: 25px;
        /* 
        background-image: url(paper.gif); 
        background-position: left top;
        background-repeat: repeat;
        padding: 20px; 
        */
        width: 100%;
        height:100%; 
        object-fit: cover;
       
     }

     
      .hotel-deal {
        background: #EBFDEC;
        border-radius: 12px;
        box-shadow:2px 3px 5px #7a1818;
        
        /*transition: transform 0.3s;*/
        width:300px;
        float:right;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        
        /*
        box-shadow: 2 4px 12px rgba(184, 20, 20, 0.05);
        padding: 10px;
        transition: transform 0.3s;
        */
        height: 100%;
        border: 2px solid green;
        
      }

      .testimonial-card {
        background: #fff;
        border-radius: 12px;
        /*box-shadow: 2 4px 12px rgba(0, 0, 0, 0.05);*/
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        
        /*
        
        padding: 10px;
        transition: transform 0.3s;
        */
        height: 100%;
        border: 5px solid violet;
        
      }
     
    .getawayback {
      background-image: url('./assets/images/getawaylogo.png');
      background-repeat: no-repeat;
    }

    .dealbanner {
      background-color: #e5f3f3;
      height: 10vh;
      font-family: "Segoe UI", sans-serif;
      margin-top:50px;
    }
   
    
/*
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

*/

.dropsubmenu {
  position: relative;
  display: inline-block;
}

.dropsubmenu-content {
  display: none;
  position: absolute;
  background-color: #1F89EF;  
  min-width: 160px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropsubmenu-content p {
  color: white ; 
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropsubmenu-content p:hover {
  background-color:green ; 
  color:white;
  cursor: pointer; 
}

.dropsubmenu:hover .dropsubmenu-content {
  display: block;
  background-color: #1F89EF; 
  color:white;
}

.containermodel {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.containermodel img {
  width: 100%;
  height: 100%;
  border: 0;
}

.gymbackgrndimg   {
  width: 107vh; 
  aspect-ratio: 16 / 9;
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {

   h2
    {
      text-align: center;
      color: #2c3e50;
      font-size: 12px;
    }

     /*
    .navbar-dark .navbar-toggler-icon::after {
      content: '\00D7'; 
      font-family: "FontAwesome";
      font-size: 22px;
      color: #d48888;
    }
    */
    /*
    .navbar div.container-fluid {
      background-color:#1F89EF;
      color:white;
    }
     */

    /*
    .navbar a:hover {
      color: white;
      background-color: green;
    }
    */

    /*
  .navbar a.nav-item:hover  {
    background-color:green;
    color: white;
  }
    .a.nav-link:hover {
      width:70px;
      background-color:green;
      color:white;
    }
  */
    
  
    .navbar-toggler-icon {
      left: 90%;
      left: calc(100% - 3em);
      position: fixed;
      top: 10px;
      width:30px;
      height:28px;

    }
   
    /* fallback if needed */

  /*
    .navbar span.navbar-toggler-icon {
      left: 90%; 
      left: calc(100% - 3em);
     position: fixed;
      top: 10px;
      height:26px;
      background-image: url(./assets/images/getawaylogo.png);
      border-radius: 3 solid red;
      z-index:6;
    }
*/
    /*
    .navbar a:hover {
      color: red;
      background-color: green;
    }
    */
    
     .navbar div.container-fluid {
      background-color:#1F89EF;
      color:white;
    }
 
   

}
